extends layout.pug

block main
    if error
        p.error Please fill the input
    if success
        p.success todo added
    if deleted 
        p.success Deleted
    form.formCreate(action="/add", method="POST")
        label(for='name') Name:
        input.name(type='text', placeholder='John Doe' name='name')
        label(for='eamil') Email:
        input.email(type='eamil', placeholder='JohnDoe@gmail.com' name='email')
        label(for='age') Age:
        input.age(type='number', name='age', id='age', placeholder='20')
        label Gender:
            label(for='male') Male
            input.gender(type='radio', id='male', name='sex', value='male')
            label(for='male') Female
            input.gender(type='radio', id='female', name='sex', value='female')
        
        button.btn Add 
    
    .todos
        if todos.length
            each todo in todos
                p.todo
                    if todo.done
                        a.done(href=`/${ todo.id}/update`) #{ todo.description}
                    else
                        a.undone(href=`/${ todo.id}/update`) #{ todo.description}
                    a.delete(href=`/${ todo.id }/delete`) Delete
        else
            p.todo No any todo available