extends layout.pug 

block content
    
    a.add(href='/add') New worker 
    .workers
        if workers.length
                table
                    tr 
                        th Name 
                        th Email 
                        th Age 
                        th Gender
                        th Change
                        th Delete
                    each worker in workers
                        tr
                            td #{ worker.name}
                            td #{ worker.email}
                            td #{ worker.age}
                            td #{ worker.gender}
                            td
                                a(href=`${ worker.id}/update`)
                                    i.edit_img.fa-solid.fa-pen-to-square
                            td
                                a(href=`${ worker.id }/delete`)
                                    i.delete_img.fa-solid.fa-trash
        else
            p.h1 Please add some worker to database 